<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
  	<%= micropost.content %>
  	<%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "削除", micropost , method: :delete,data: { confirm: "本当に消しますか?" } %>
    <% end %>
    <%= link_to "返信", new_micropost_response_path(micropost.id)  %>
  </span>
</li>

<div class="res">
	<% if micropost.responses.any? %>
		<% micropost.responses.each do |response| %>
			<% user=User.find(response.user_id) %>
			<%= link_to gravatar_for(user, size: 50), user %>
			<span class="user"><%= link_to user.name, user %></span>
			<span class="content">
				<%= response.response_text %>
			</span>
			<span class="timestamp">
				Posted <%= time_ago_in_words(response.created_at) %> ago.
				<% if current_user?(user) %>
					<%= link_to "削除", micropost_response_path(micropost.id,response.id) , method: :delete,data: { confirm: "本当に消しますか?" } %>
				<% end %>
				<%= link_to "返信", new_micropost_response_path(micropost.id)  %>
			</span>
		<% end %>	
	<% end %>
</div>